::ng-deep
.mat-calendar-body
> tr
> td
> button.mat-calendar-body-disabled
> span:not(.mat-calendar-body-active) {
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
  text-decoration-color: rgba(102, 51, 153, 0.575);
}
