<div
  class="w-full flex flex-col justify-center items-center border-b-2 border-gray-300 border-solid mb-5"
>
  <div
    class="w-full flex justify-between items-center pl-1 pr-1 md:pl-5 md:pr-5 lg:pl-20 lg:pr-20"
  >
    <div class="w-1/5">
      <a [routerLink]="['/properties']">
        <img src="../.././../assets/logo.png" alt="logo" class="w-24" />
      </a>
    </div>

    <div class="w-3/5 2xl:flex justify-center hidden">
      <app-search-bar class="w-full"></app-search-bar>
    </div>

    <div
      class="2xl:w-1/5 w-4/5 flex flex-row-reverse gap-10 items-center pr-2 md:pr-0"
    >
      @if(this.user == undefined){
      <a [routerLink]="['/login']">
        <button
          mat-flat-button
          color="primary"
          aria-label="Example icon button with a vertical three dot icon"
        >
          Sign In
          <mat-icon>person</mat-icon>
        </button>
      </a>
      } @else {

      <button
        [matMenuTriggerFor]="menu"
        mat-flat-button
        color="primary"
        aria-label="Example icon button with a vertical three dot icon"
      >
        <span>
          {{ this.user.firstName }}
        </span>
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="signOut()" mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Sign out</span>
        </button>

        <a [routerLink]="['/profiles']">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
        </a>
        <a [routerLink]="['/profiles', 'bookings']">
          <button mat-menu-item>
            <mat-icon>bookmark_added</mat-icon>
            <span>My bookings</span>
          </button>
        </a>
        <a [routerLink]="['/profiles', 'properties']">
          <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>My properties</span>
          </button>
        </a>
      </mat-menu>
      }
      <a [routerLink]="['/properties/create']"> Add your home </a>
    </div>
  </div>
  <app-search-bar
    class="2xl:w-full xl:w-3/4 lg:w-4/5 w-full 2xl:hidden justify-center flex pb-2"
  ></app-search-bar>
</div>
