<div
  class="w-full flex justify-between items-center pl-20 pr-20 border-b-2 border-gray-300 border-solid mb-5"
>
  <div class="w-1/4">
    <a [routerLink]="['/properties']">
      <img src="../.././../assets/logo.png" alt="logo" class="w-24" />
    </a>
  </div>

  <div class="w-1/2 flex justify-center">
    <!-- <mat-form-field class="example-full-width example-form">
      <mat-label>Search</mat-label>

      <input type="text" matInput placeholder="Find your place?" />

      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field> -->
    <app-search-bar class="w-full"></app-search-bar>
  </div>

  <div class="w-1/4 flex flex-row-reverse gap-10 items-center">
    <a [routerLink]="['/login']">
      <button
        mat-flat-button
        color="primary"
        aria-label="Example icon button with a vertical three dot icon"
      >
        Sign In
        <mat-icon>person</mat-icon>
      </button>
    </a>
    <a> Add your home </a>
  </div>
</div>
