<div
  class="w-full flex flex-col justify-center items-center border-b-2 border-gray-300 border-solid mb-5"
>
  <div
    class="w-full flex justify-between items-center pl-1 pr-1 md:pl-5 md:pr-5 lg:pl-20 lg:pr-20 gap-x-1 md:gap-x-2 lg:gap-x-4"
  >
    <div class="w-1/5">
      <a [routerLink]="['/properties']" [queryParams]="{ page: 0, size: 10 }">
        <img src="../.././../assets/logo.png" alt="logo" class="w-24" />
      </a>
    </div>

    <div class="w-3/5 2xl:flex justify-center hidden">
      <app-search-bar class="w-full"></app-search-bar>
    </div>

    <div
      class="2xl:w-1/5 w-4/5 flex flex-row-reverse gap-10 items-center pr-8 md:pr-0"
    >
      @if(this.user == undefined){
      <a [routerLink]="['/login']">
        <button
          mat-flat-button
          color="primary"
          aria-label="Example icon button with a vertical three dot icon"
        >
          Sign In
          <mat-icon>person</mat-icon>
        </button>
      </a>
      } @else {

      <button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon button with a vertical three dot icon"
        class="border border-gray-300 hover:border-gray-500 rounded-full p-2 transition-colors duration-200"
      >
        <div class="flex items-center gap-2">
          @if (this.imageURL) {

          <img class="w-12 rounded-full" [src]="this.imageURL" />
          <span>
            {{ this.user.email }}
          </span>
          } @else {
          <mat-icon>person</mat-icon>
          <span class="text-lg font-medium">
            {{ this.user.firstName }}
          </span>
          }
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="signOut()" mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Sign out</span>
        </button>

        <a [routerLink]="['/properties/create']">
          <button mat-menu-item>
            <mat-icon>real_estate_agent</mat-icon>
            <span>Add your property</span>
          </button>
        </a>

        <a [routerLink]="['/profiles']">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
        </a>
        <a [routerLink]="['/profiles', 'bookings']">
          <button mat-menu-item>
            <mat-icon>bookmark_added</mat-icon>
            <span>My bookings</span>
          </button>
        </a>
        <a [routerLink]="['/profiles', 'properties']">
          <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>My properties</span>
          </button>
        </a>
      </mat-menu>
      }
    </div>
  </div>
  <app-search-bar
    class="2xl:w-full xl:1/2 lg:w-4/5 w-full 2xl:hidden justify-center flex pb-2"
  ></app-search-bar>
</div>
