<div class="w-full pt-12 flex justify-center items-center">
  <div class="border-solid border-2 border-black rounded-3xl w-4/5 h-5/6">
    <div class="p-10">
      <span class="text-xl font-bold"
        >{{ this.property?.nightlyPrice }} MKD</span
      >
      <span class="font-light"> nightly</span>
    </div>

    <div class="w-full flex justify-center flex-col items-center">
      <div class="grid grid-cols-2 grid-rows-2 w-4/5">
        <div
          class="col-span-1 border border-solid border-black p-2 rounded-tl-2xl"
        >
          <mat-label class="font-semibold">CHECK-IN</mat-label>
          <div class="flex justify-center w-full">
            @if(this.filterAvailableDates){
            <mat-form-field appearance="outline">
              <input
                [matDatepickerFilter]="this.filterAvailableDates"
                (dateChange)="changeStartDate($event.value)"
                matInput
                [value]="this.startDate"
                [matDatepicker]="start"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="start"
              ></mat-datepicker-toggle>
              <mat-datepicker #start></mat-datepicker>
            </mat-form-field>
            }
          </div>
        </div>

        <div
          class="col-span-1 border-r border-t border-b border-solid border-black p-2 rounded-tr-2xl"
        >
          <mat-label class="font-semibold">CHECK-OUT</mat-label>
          <div class="flex justify-center w-full">
            <!-- <input matInput type="date" placeholder="Ex. Pizza" /> -->
            @if(this.filterAvailableDates){
            <mat-form-field appearance="outline" class="bg-white">
              <mat-date-range-input
                [dateFilter]="this.filterAvailableDates"
                class="bg-white"
                [formGroup]="range"
                [rangePicker]="picker"
                [disabled]="
                  this.startDate == undefined || this.startDate == null
                "
                [max]="maxDate"
                [min]="minEndDate()"
              >
                <input
                  (dateChange)="changeStartDate($event.value)"
                  [value]="this.startDate"
                  matStartDate
                  formControlName="start"
                />
                <input
                  (dateChange)="changeEndDate($event.value)"
                  matEndDate
                  formControlName="end"
                  class="w-full"
                />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker
                [opened]="this.startDate != undefined || this.startDate != null"
                #picker
              ></mat-date-range-picker>

              @if (range.controls.start.hasError('matStartDateInvalid')) {
              <mat-error>Invalid start date</mat-error>
              } @if (range.controls.end.hasError('matEndDateInvalid')) {
              <mat-error>Invalid end date</mat-error>
              }
            </mat-form-field>
            }
          </div>
        </div>

        <div
          (click)="toggleGuestsDialog(!this.isOpenGuestsDialog)"
          #guestsDialog
          class="relative col-span-2 border-b border-r border-l border-solid border-black p-2 rounded-b-2xl cursor-pointer"
        >
          <mat-label class="font-semibold">GUESTS</mat-label>
          <div class="flex items-end w-full h-full">
            <div class="w-4/5 h-4/5">
              {{ this.getGuestsText() }}
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center w-4/5">
        @if (this.isOpenGuestsDialog) {
        <app-guests-dialog
          (adults$)="countAdults($event)"
          (children$)="countChildren($event)"
          (pets$)="countPets($event)"
          [maxGuests]="this.property?.guests?.valueOf()"
          class="z-10 w-full"
        ></app-guests-dialog>
        }
      </div>
    </div>

    <div class="w-full flex justify-center">
      <app-reservation-info
        class="w-4/5 pt-3 pb-3"
        [property]="property"
        [startDate]="startDate"
        [endDate]="endDate"
      ></app-reservation-info>
    </div>

    <div class="flex w-full justify-center p-5">
      <button
        (click)="reserveProperty()"
        class="w-4/5 h-5 tracking-wide"
        mat-flat-button
        color="primary"
      >
        <div class="tracking-widest text-xl m-2">Reserve</div>
      </button>
    </div>

    <div class="flex w-full justify-center">
      <p>You won't be charged yet</p>
    </div>
  </div>
</div>
