
<form [formGroup]="form" (ngSubmit)="handleSubmit()">
  <div class="grid justify-center items-center h-3/4 w-full">
    <mat-stepper mat-raised-button  id="toggle-linear" [linear]="true">
      <mat-step>
        <ng-template matStepLabel>Basic Information</ng-template>
          <div class="example-full-width p-2">
            <label class="pl-2">Name</label>
            <input
              #Name
              class="w-full border-solid border-black border rounded-md h-10 p-2"
              type="text"
              matInput
              formControlName="name"
              placeholder="Apartment Name"
            />
          </div>
          <div class="example-full-width p-2">
            <label class="pl-2">Description</label>
            <textarea
              #Description
              class="w-full border-solid border-black border rounded-md h-20 p-2"
              type="text"
              formControlName="description"
              matInput
              placeholder="Description"
            ></textarea>
          </div>
          <div class="example-full-width p-2">
            <label class="pl-2">Images</label>
            <input
              #Images
              class="w-full border-solid border-black border rounded-md h-10 p-2"
              type="file"
              multiple
              accept="image/*"
              matInput
              placeholder="Images"
              (change)="onImagePicked($event)"
            />
          </div>
          <div class="example-full-width p-2">
            <label class="pl-2">Property Type</label>
            <select
              #PropertyType
              class="w-full border-solid border-black border rounded-md h-10 p-2"
              formControlName="propertyType"
              matInput
            >
              @for(type of propertyTypes; track type.id)
              {
                <option value="{{type.id}}">{{type.typeName}}</option>
              }
            </select>
          </div>
          <div class="example-full-width p-2">
            <label class="pl-2">Price per night</label>
            <input
              #Price
              class="w-full border-solid border-black border rounded-md h-10 p-2"
              type="number"
              formControlName="nightlyPrice"
              matInput
              placeholder="150.00"
            />
          </div>
       
        <div>
          <button type="button" mat-button matStepperNext color="primary">Next</button>
        </div>  
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Location</ng-template>
          <div class="example-full-width p-2">
            <label class="pl-2">City</label>
            <select
              #City
              class="w-full border-solid border-black border rounded-md h-10 p-2"
              formControlName="city"
            >
              @for(city of cities; track city.id)
              {
                <option value="{{city.id}}">{{city.name}}</option>
              }
            </select>
          </div>
          <div class="example-full-width p-2">
            <label class="pl-2">Address</label>
            <input
              #Address
              class="w-full border-solid border-black border rounded-md h-10 p-2"
              type="text"
              formControlName="address"
              matInput
              placeholder="Address"
            />
          </div>
          <app-map [moveMap]="true" (changeCoordinates$)="handleEvent($event)"></app-map>
        <div>
          <button mat-button matStepperPrevious  type="button" color="accent">Back</button>
          <button mat-button matStepperNext  type="button" color="primary">Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Capacity</ng-template>
       
          <div class="example-full-width p-2">
            <label class="pl-2">Guests</label>
            <input
              #Guests
              class="w-full border-solid border-black border rounded-md h-10 p-2"
              type="number"
              formControlName="guests"
              matInput
              placeholder="Guests"
            />
          </div>
          <div class="example-full-width p-2">
            <label class="pl-2">Beds</label>
            <input
              #Beds
              class="w-full border-solid border-black border rounded-md h-10 p-2"
              type="number"
              formControlName="beds"
              matInput
              placeholder="Beds"
            />
          </div>
          <div class="example-full-width p-2">
            <label class="pl-2">Bedrooms</label>
            <input
              #Bedrooms
              class="w-full border-solid border-black border rounded-md h-10 p-2"
              type="number"
              formControlName="bedrooms"
              matInput
              placeholder="Bedrooms"
            />
          </div>
          <div class="example-full-width p-2">
            <label class="pl-2">Bathrooms</label>
            <input
              #Bathrooms
              class="w-full border-solid border-black border rounded-md h-10 p-2"
              type="number"
              formControlName="bathrooms"
              matInput
              placeholder="Bathrooms"
            />
          </div>
        
        <div>
          <button mat-button matStepperPrevious color="accent">Back</button>
          <button mat-button matStepperNext  type="button" color="primary">Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Amenities</ng-template>
        
        <section class="example-full-width p-2">
          <label class="pl-2">Select Attributes:</label>
          <div class="grid grid-cols-2 gap-4">
            @for(att of attributes; track att.id)
            {
              <div class="flex items-center">
                <mat-checkbox
                  class="pl-2"
                  [value]="att.id.toString()"
                  (change)="onCheckboxChange($event)"
                  >{{ att.name }}</mat-checkbox
                >
              </div>
            }
          </div>
        </section>
        
        <div>
          <button mat-button matStepperPrevious type="button" color="accent">Back</button>
          <button mat-button matStepperNext type="button" color="primary">Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Final Review</ng-template>
        <div class="example-full-width p-2">
          <div class="flex justify-center">
            <button mat-flat-button type="submit" color="primary">
              Submit
            </button>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
   
  </div>
</form>

