<div>
  <div class="flex w-full items-center gap-6">
    <img
      class="rounded-full w-16 h-16 object-cover"
      [src]="this.hostImageURL"
    />
    <div class="text-lg font-semibold">
      <span>
        {{ review?.user?.firstName }}
      </span>
      <span>
        {{ review?.user?.lastName }}
      </span>
    </div>
  </div>

  <div class="p-3">
    <div class="pb-2 flex items-center">
      <span class="flex items-center gap-2">
        <mat-icon>star</mat-icon>
        <span class="text-lg">
          {{ this.review?.averageRating?.toPrecision(2) }}
        </span>
      </span>
      <span class="text-gray-400 p-2">|</span>
      <span>
        {{ getFormatedDate() }}
      </span>
    </div>
    <div class="text-ellipsis overflow-clip">
      <span class="text-nowrap">
        {{ this.review?.comment | slice : 0 : 100 }}
      </span>
    </div>

    <div class="underline text-lg">
      <button (click)="openDialog()">
        <span class="underline"> Show more </span>
      </button>
    </div>
  </div>
</div>
