<hr class="mt-6" />
<div class="w-full flex flex-col justify-center items-center p-6">
  <div class="w-3/4 flex justify-between">
    <div>
      <p class="text-lg">Company Information</p>
      <p>About Us</p>
      <p>Contact Us</p>
      <p>List Your Property</p>
      <p>Careers</p>
    </div>
    <div>
      <p class="text-lg">Customer Support</p>

      <p>FAQs</p>
      <p>Customer Reviews</p>
      <p>Terms of Service</p>
      <p>Privacy Policy</p>
    </div>
    <div>
      <p class="text-lg">Explore</p>
      <p>Apartments</p>
      <p>Rooms</p>
      <p>Houses</p>
      <p>Popular Destinations</p>
    </div>
    <div>
      <p class="text-lg">Resources</p>
      <p>Blog</p>
      <p>Social Media</p>
      <p>Travel Guides</p>
      <p>City Maps</p>
    </div>
  </div>
  <div class="w-1/2 text-center font-light">
    © 2024 Smeshtaj. All rights reserved. Powered by <a href="https://www.sorsix.com/" class="text-black underline">Sorsix</a>.
  </div>
</div>
  