<a [routerLink]="['/properties', this.property?.id]">
  <div class="rounded-lg flex flex-col gap-3">
    <img
      [src]="this.headerImage"
      alt="img"
      class="rounded-lg h-64 w-full object-cover"
    />
    <div class="p-2">
      <div class="flex justify-between">
        <div class="flex flex-col gap-0">
          <span class="text-lg font-bold"
            >{{ this.property?.type }} in {{ this.property?.cityName }}</span
          >
          <span class="font-light text-gray-800">
            {{ this.property?.address }}
          </span>
        </div>
        <div class="flex items-center">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="star"
          ></mat-icon>
          <span class="p-2 font-bold text-lg">
            {{ this.property?.averageRating | number : "0.1-1" }}
          </span>
        </div>
      </div>

      <p>{{ this.property?.description | slice : 0 : 75 }}...</p>

      <p>
        <span class="font-bold text-lg">
          <span>
            {{ this.property?.pricePerNight?.toString() }}
          </span>
          MKD
        </span>
        <span> per night </span>
      </p>
    </div>
  </div>
</a>
